{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}<code>$> sudo run_dog_admin</code>{% endblock %}

{% block page_content %}
    <h2>Welcome to the admin area that bites! <span class="fa-solid fa-bone"></span></h2>
{% endblock %}
