@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

body, a {
    color: #687474;
}

h3 {
    font-size: 1.25rem;
}

.header {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
}

.entity-container{
    background-color: #F8EEE7;
    border-radius: 5px;
    box-shadow: 2px 3px 9px 4px rgb(0 0 0 / 4%);
    height: 185px;
}

.entity-img {
    background-color: #fff;
    border-radius: 5px;
}

.recipe-container {
    border: solid 1px #efefee;
    border-radius: 5px;
    box-shadow: 2px 3px 9px 4px rgb(0 0 0 / 4%);
    background-color: #fff;
}

.recipe-list-item {
    width: 524px;
    margin-bottom: 30px;
}
